.card{
    width: 280px;
    height: 32  0px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    text-align: center;
    margin-top: 40px;
}
.button{
    background-color: rgb(0,89,76);
    color: #fff;
    font-size: large;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 0px;
}
.button:hover{
    background-color: rgb(0, 48, 40);
}

.select{
    margin-top: 30px;
    height: 30px;
    border-radius: 5px;
    border-color: black;
}
